@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");
.icons .iconTag {
  font-family: DynaPuff;
  font-size: 30px;
  margin-top: 8px;
}
.navbars ul {
  position: relative;
  display: flex;
  z-index: 2;
}
.navbars {
  margin-left: 50px;
}
.navbars ul li {
  position: relative;
  width: 100px;
  height: 30px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 2em;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  overflow: hidden;
  margin-right: 20px;
}
.navbars ul li a:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}
.navbars ul li a {
  font-size: 15px;
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
}
.icons {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 5px;
  margin-left: 15px;
}
.icons img {
  transform: rotate(45deg);
}

.contactIconContainer {
  /* margin-left: 150px; */
  margin-top: 5px;
}
.contactIconContainer ul {
  position: relative;
  display: flex;
  z-index: 2;
}
.contactIconContainer ul li {
  position: relative;
  list-style: none;
  margin: 10px;
}
.contactIconContainer ul a {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 2em;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  overflow: hidden;
}
.contactIconContainer ul a :hover {
  transform: translateY(-10px);
  transition: 0.5s;
}
.contactIconContainer ul a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(60px);
  transition: 0.5s;
}
.contactIconContainer ul a:hover::before {
  transform: skewX(45deg) translateX(-60px);
}

.imgMen {
  width: 150px;
  height: 250px;
  position: absolute;
  top: 30%;
  left: 30%;
}
.imgWomen {
  width: 150px;
  height: 250px;
  position: absolute;
  top: 30%;
  left: 60%;
}
.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 35%;
  left: 48%;
}
.card {
  width: 500px;
  height: 600px;
  background: #fff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 6px 20px rgb(0 0 0 / 5%);
  backdrop-filter: blur(16px);
  margin-right: 10px;
}
.cardInside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 450px;
}
.cardInside h2 {
  position: relative;
  top: 0%;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.cardInside img {
  width: 50px;
  position: absolute;
  top: 5%;
  left: 47%;
  transform: rotate(45deg);
}
.datingMn {
  font-family: DynaPuff;
  position: absolute;
  top: 11%;
  left: 36%;
  font-size: 25px;
}
.dot {
  width: 5px;
  background: red;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 74px;
  left: 187px;
}
.findP {
  color: #404040;
  text-align: center;
  position: relative;
  top: 3%;
}
.cardInside h3 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  position: relative;
  top: 8%;
}
.buttonNext {
  width: 350px;
  height: 40px;
  border-radius: 10px 10px 10px 10px;
  background-color: red;
  color: #fff;
  position: relative;
  top: 15%;
}
.hobbyCheckBox button {
  width: 100px;
  height: 50px;
  border: 1px solid #f5f5f5;
  border-radius: 20px 20px 20px 20px;
  appearance: none;
  margin-top: 10px;
  margin-left: 5px;
  background: #f5f5f5;
  transition: 0.5s;
  margin-bottom: 10px;
}
.hobbyCheckBox button:hover {
  background: #a09d9d;
}

.hobbyCheckBox {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  justify-content: center;
  top: 10%;
}
.allUsers {
  width: 1000px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  filter: blur(-25px);
}
.usersCard img {
  width: 70px;
  height: 70px;
  border-radius: 20px 20px 20px 20px;
  position: relative;
  left: 40px;
  top: -25px;
}
.usersCard {
  width: 150px;
  height: 100px;
  background: #fff;
  border-radius: 20px 20px 20px 20px;
  margin-right: 10px;
  margin-top: 5px;
}
.usersCard:hover {
  width: 250px;
  transition: 0.5s;
  height: 200px;
}
.mainContainer {
  width: 1200px;
  height: 700px;
  display: flex;
  justify-content: space-between;
}
.age {
  font-size: 20px;
  font-weight: 700;
}
.ageText {
  color: rgb(72, 66, 66);
  font-weight: 400;
  font-size: 20px;
}
.hobby {
  flex-direction: column;
  display: flex;
}
.information {
  display: none;
  position: relative;
  left: 50px;
}

.usersCard:hover img {
  width: 100px;
  height: 100px;
  left: 80px;
  transition: 0.5s;
}
.usersCard:hover .information {
  display: flex;
  transition: 0.5s;
}
.userName {
  font-family: DynaPuff;
  font-size: 25px;
  color: #fff;
  width: 50px;
  height: 50px;
  margin-top: 15px;
  position: absolute;
  left: -80%;
}
.usersCard .usersName {
  position: relative;
  top: -25px;
  left: 30px;
  font-size: 20px;
}
.usersCard:hover .usersName {
  left: 80px;
}
.updateIcon {
  width: 30px;
  height: 50px;
  color: #fff;
  margin-left: 25px;
  margin-top: 8px;
  cursor: pointer;
}
.dropbtn {
  /* background-color: #4caf50; */
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 200px;
  height: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
}
.dropdown-content p {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 5px;
}
.dropdown-content p:nth-child(1) {
  border-bottom: 1px solid black;
  width: 195px;
  height: 20px;
}
.dropdown-content p:nth-child(2) {
  border-bottom: 1px solid black;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
